/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/

@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';
@import '~@nativescript/theme/css/grey.css';

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

.action-image {
    /*width: 40px;*/
    height: 60px;
    vertical-align: center;
}

.action-label {
    color: #ffffff;
    font-size: 20;
    min-height: 60px;
    font-weight: bold;
    vertical-align: center;
}

.bg-custom {
    background-image: url("~/res/bg-gradient.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

Button.-primary {
    font-size: 18;
}

.message {
    color: #666;
    font-size: 16;
    padding: 20;
}

.message-ndef {
    margin-left: 20;
}

button {
    background-color: #6494AA;
    padding: 10;
    margin: 6 20;
    font-size: 14;
    border-radius: 6;
    font-weight: bold;
}

.button {
    color: #ffffff;
}

.button-a {
    background-color: #90A959;
}

.button-b {
    background-color: #E0A458;
}

.button-c {
    background-color: #FF6600;
}

.button-d {
    background-color: #22B4CC;
}

.seedLayout {
    background-color: #CCC;
    padding: 10px;
    border-bottom-width: 2px;
    border-style: dashed solid;
    border-color: #bababa;
}